<!-- === BACKGROUND IMAGE SECTION === -->
<div class="background"></div>

<!-- === TODO APP CONTAINER === -->
<div class="todo-app">
  <!-- HEADER -->
  <app-todo-header></app-todo-header>


  <!-- INPUT -->
  <app-todo-form (addTodo)="addTodo($event)"></app-todo-form>


  <!-- TODO LIST -->
  <app-todo-list
  [todos]="filteredTodos"
  (toggle)="toggleTodo($event)"
  (delete)="deleteTodo($event)"
></app-todo-list>

  <!-- FOOTER -->
  <app-todo-footer
  [activeCount]="activeCount"
  [currentFilter]="currentFilter"
  (filterChange)="setFilter($event)"
  (clearCompleted)="clearCompleted()"
></app-todo-footer>


  <!-- DRAG NOTE -->
  <p class="drag-note">Drag and drop to reorder list</p>
</div>
